<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://speechfunctionp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e5e5f414-6816-4ad2-bd4e-b568da08b112/resourcegroups/SI410/providers/Microsoft.Web/sites/SpeechFunctionP</ResourceId>
    <UserName>$SpeechFunctionP</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://speechfunctionp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>